#gameContainer {
  text-align: center;
}

#gameCanvas {
  background-color: #d8d2c6;
  border: 2px solid #3b3a3a;
}

#toggleScene {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ffbd06;
  border: none;
  color: #3b3a3a;
}
